.main-area {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 10px ;
    border: 1px solid red;
}